<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Zoeface-Beauty 是一家提供半永久化妝、睫毛延長和全身脫毛服務的美容中心。">
    <meta name="keywords"
        content="Zoeface-Beauty,半永久霧眉,嘴唇漂染,角蛋白美睫,全身脫毛,美容中心,半永久化妝,睫毛延長,全身脫毛">
    <meta name="author" content="Zoeface-Beauty">
    <meta property="og:type" content="beauty cosmetic">
    <meta property="og:title" content="Zoeface-Beauty|半永久霧眉|嘴唇漂染|角蛋白美睫|全身脫毛">
    <meta property="og:site_name" content="Zoeface-Beauty">
    <meta property="og:site_name" content="Zoeface-Beauty">
    <meta property="og:url" content="www.zoeface-beauty.com">
    <meta property="og:image" content="www.zoeface-beauty.com">
    <meta property="og:description"
        content="Zoeface-Beauty 是一家提供半永久化妝、睫毛延長和全身脫毛服務的美容中心。">
    <meta name="twitter:title" content="Zoeface-Beauty|半永久霧眉|嘴唇漂染|角蛋白美睫|全身脫毛">
    <meta name="twitter:description"
        content="Zoeface-Beauty 是一家提供半永久化妝、睫毛延長和全身脫毛服務的美容中心。">
    <meta name="twitter:image" content="www.zoeface-beauty.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@zoefacebeauty">
    <meta name="twitter:creator" content="@zoefacebeauty">
    <meta name="twitter:domain" content="www.zoeface-beauty.com">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Zoeface-Beauty">
    <meta name="twitter:label2" content="Est. reading time">
    <meta name="twitter:data2" content="0 minutes">
    <meta name="twitter:site" content="@zoefacebeauty">
    <meta name="twitter:creator" content="@zoefacebeauty">
    <meta name="twitter:domain" content="www.zoeface-beauty.com">
    <meta name="instagram:card" content="summary_large_image">
    <meta name="instagram:site" content="@zoeface_beauty">
    <meta name="instagram:creator" content="@zoeface_beauty">
    <meta name="instagram:domain" content="www.zoeface-beauty.com">
    <meta name="instagram:label1" content="Written by">
    <meta name="instagram:data1" content="Zoeface-Beauty">
    <meta name="instagram:label2" content="Est. reading time">
    <meta name="instagram:data2" content="0 minutes">
    <meta name="google:card" content="summary_large_image">
    <meta name="google:site" content="@zoefacebeauty">
    <meta name="google:creator" content="@zoefacebeauty">
    <meta name="google:domain" content="www.zoeface-beauty.com">
    <meta name="google:label1" content="Written by">
    <meta name="google:data1" content="Zoeface-Beauty">
    <meta name="google:label2" content="Est. reading time">
    <meta name="google:data2" content="0 minutes">
    <meta name="google:site" content="@zoefacebeauty">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- Box Icons CSS -->
    <link rel="stylesheet" href="../../assets/css/boxicons.min.css">
    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="../../assets/css/meanmenu.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
    <!-- Modal Video CSS -->
    <link rel="stylesheet" href="../../assets/css/modal-video.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="../../assets/css/odometer.min.css">
    <!-- Revolution CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/layers.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/navigation.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../../assets/css/nice-select.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="../../assets/css/theme-dark.css">

    <title>Zoeface-Beauty|半永久霧眉|嘴唇漂染|角蛋白美睫|全身脫毛</title>

    <link rel="icon" type="image/png" href="../../assets/images/favicon.ico">

     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-F4H7YB7F96">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-F4H7YB7F96');
    </script>

   
</head>

<body>
    <!-- Preloader -->
    <div class="loader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="loading">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <div class="header-area two">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-sm-3 col-lg-3">
                    <div class="left">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-9 col-lg-9">
                    <div class="right">
                        <ul>
                            <li>
                                <i class='bx bx-mail-send'></i>
                                <span>
                                    <%=pageText.emailUs%>:
                                </span>
                                <a href="mailto:zoefacebeauty@gmail.com">zoefacebeauty@gmail.com</a>
                            </li>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <span>
                                    <%=pageText.whatsapp%>:
                                </span>
                                <a href="/<%=language%>/<%=pageText.whatsappApiLinkHref1%>" target="_blank">852-69965503 / </a>
                                <a href="/<%=language%>/<%=pageText.whatsappApiLinkHref2%>" target="_blank">852-64836837</a>
                            </li>

                            <li>
                                <select onchange="location =
                                    this.options[this.selectedIndex].value;">
                                    <% if(language=='en' ) { %>
                                        <option value="/en" selected>English</option>
                                        <option value="/hk">中文</option>

                                        <% } else { %>
                                            <option value="/hk" selected>中文</option>
                                            <option value="/en">English</option>

                                            <% } %>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Header -->

    <!-- Navbar -->
    <div class="navbar-area sticky-top">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="/<%=language%>/" class="logo">
                <img src="../../assets/images/zoelogo.png" alt="Logo">
            </a>
        </div>

        <!-- Menu For Desktop Device -->
        <div class="main-nav two">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/<%=language%>/">
                        <img src="../../assets/images/zoelogo.png" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    <%=pageText.home%>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/<%=language%>/price-list" class="nav-link">
                                    <%=pageText.priceList%>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="/<%=language%>/services" class="nav-link">
                                    <%=pageText.services%>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="/<%=language%>/blog" class="nav-link">
                                    <%=pageText.blog%>
                                </a>

                            </li> -->

                            <li class="nav-item">
                                <a href="/<%=language%>/contact-us" class="nav-link">
                                    <%=pageText.contactUs%>
                                </a>
                            </li>
                        </ul>

                        <div class="side-nav two">

                            <div class="nav-search">
                                <i id="search-btn" class="bx bx-search-alt"></i>
                                <div id="search-overlay" class="block">
                                    <div class="centered">
                                        <div id="search-box">
                                            <i id="close-btn" class="bx bx-x"></i>
                                            <form>
                                                <input type="text" class="form-control" placeholder="Search..." />
                                                <button type="submit" class="btn">
                                                    <%=pageText.search%>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <a class="common-btn two nav-btn" href="/<%=language%>/<%=pageText.whatsappApiLinkHref1%>" target="_blank"
                                target="_blank">
                                <%=pageText.bookNow%>
                            </a>

                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar -->


    <%- body %>






        <!-- Footer -->
        <footer class="footer-area two pt-100 pb-70">
            <div class="footer-shape">
                <img src="../../assets/images/footer-shape1.png" alt="Shape">
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-sm-6 col-lg-4">
                        <div class="footer-item">
                            <div class="footer-contact">
                                <h3>
                                    <%=pageText.contactInfo%>
                                </h3>
                                <ul class="info">
                                    <li>
                                        <a href="#">
                                            <%=pageText.addressDetails%>
                                        </a>
                                    </li>
                                    <li>
                                        <span>
                                            <%=pageText.phone%>:
                                        </span>
                                        <a href="tel:85264836837">852-64836837 / </a>
                                        <a href="tel:85269965503">852-69965503</a>
                                    </li>
                                    <li>
                                        <span>
                                            <%=pageText.whatsapp%>:
                                        </span>
                                        <a href="/<%=language%>/<%=pageText.whatsappApiLinkHref1%>">852-69965503 / </a>
                                        <a href="/<%=language%>/<%=pageText.whatsappApiLinkHref2%>">852-64836837</a>
                                    </li>
                                    <li>
                                        <span>
                                            <%=pageText.email%>:
                                        </span>
                                        <a href="mailto:hello@jeel.com">zeofacebeauty@gmail.com</a>
                                    </li>

                                </ul>
                                <ul class="social">
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=61557681941491"
                                            target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/zoeface_beauty/" target="_blank">
                                            <i class='bx bxl-instagram'></i>

                                        </a>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="footer-item">
                            <div class="footer-img">
                                <a href="">
                                    <img style="width: 120px;" src="../../assets/images/zoelogo.png" alt="Footer">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                        <div class="footer-item">
                            <h3>
                                <%=pageText.openingHours%>
                            </h3>
                            <div class="footer-hours">
                                <div class="left">
                                    <ul>

                                        <li>
                                            <%=pageText.monday%> :
                                        </li>
                                        <li>
                                            <%=pageText.tuesday%> :
                                        </li>
                                        <li>
                                            <%=pageText.wednesday%> :
                                        </li>
                                        <li>
                                            <%=pageText.thursday%> :
                                        </li>
                                        <li>
                                            <%=pageText.friday%> :
                                        </li>
                                        <li>
                                            <%=pageText.saturday%> :
                                        </li>
                                        <li>
                                            <%=pageText.sunday%> :
                                        </li>

                                    </ul>
                                </div>
                                <div class="right">
                                    <ul>

                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                        <li>
                                            10:00
                                            <span>19:00</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Copyright -->
        <div class="copyright-area two">
            <div class="container">

                <div class="copyright-item">
                    <p>Copyright @
                        <script>document.write(new Date().getFullYear())</script> Zoeface-beauty. All Rights Reserved
                    </p>
                </div>

            </div>
        </div>
        <!-- End Copyright -->

        <!-- Go Top -->
        <div class="go-top">
            <i class='bx bxs-up-arrow-alt'></i>
            <i class='bx bxs-up-arrow-alt'></i>
        </div>
        <!-- End Go Top -->


        <!-- Essential JS -->
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/bootstrap.bundle.min.js"></script>
        <!-- Form Validator JS -->
        <script src="../../assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="../../assets/js/contact-form-script.js"></script>
        <!-- Ajax Chip JS -->
        <script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Mean Menu JS -->
        <script src="../../assets/js/jquery.meanmenu.js"></script>
        <!-- Wow JS -->
        <script src="../../assets/js/wow.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="../../assets/js/owl.carousel.min.js"></script>
        <!-- Modal Video JS -->
        <script src="../../assets/js/jquery-modal-video.min.js"></script>
        <!-- Odometer JS -->
        <script src="../../assets/js/odometer.min.js"></script>
        <script src="../../assets/js/jquery.appear.min.js"></script>
        <!-- Revolution JS -->
        <script src="../../assets/js/jquery.themepunch.tools.min.js"></script>
        <script src="../../assets/js/jquery.themepunch.revolution.min.js"></script>
        <!-- The following part can be removed on Server for On Demand Loading) -->
        <script src="../../assets/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="../../assets/js/extensions/revolution.extension.video.min.js"></script>
        <!-- Nice Select JS -->
        <script src="../../assets/js/jquery.nice-select.min.js"></script>
        <!-- Custom JS -->
        <script src="../../assets/js/custom.js"></script>
       

        
</body>

</html>