<!DOCTYPE html>
<html lang="en" dir="lrt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Virtue Club is a non-profit organization that provides home care services to the elderly and people with disabilities.">
    <meta name="keywords"
        content="Virtue Club, home care, elderly care, disability care, home physiotherapy, home speech therapy, home occupational therapy, home nursing care, life improvement service, accompany service">
    <meta name="author" content="initTheme">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Virtue Club">
    <meta property="og:site_name" content="donate Website">
    <meta property="og:site_name" content="Virtue Club">
    <meta property="og:url" content="www.virtueclub-rehab.com">
    <meta property="og:image" content="www.virtueclub-rehab.com">
    <meta property="og:description"
        content="Virtue Club is a non-profit organization that provides home care services to the elderly and people with disabilities.">
    <meta name="twitter:title" content="Virtue Club">
    <meta name="twitter:description"
        content="Virtue Club is a non-profit organization that provides home care services to the elderly and people with disabilities.">
    <meta name="twitter:image" content="www.virtueclub-rehab.com">
    <meta name="twitter:card" content="summary">
    <title>Virtue Club</title>
    <link rel="icon" type="image/x-icon" sizes="20x20" href="../../../assets/images/logo/apple-touch-icon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/bootstrap-5.3.0.min.css">
    <!-- fonts & icon -->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/remixicon.css">
    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/plugin.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/main-style.css">
    <!-- RTL CSS::When Need RTL Uncomments File -->
    <!-- <link rel="stylesheet" type="text/css" href="../../../assets/css/rtl.css"> -->
</head>

<body>
    <!-- <div class="loading-page" id="preloader-active">
        <div class="counter">
            <p class="text text-capitalize">loading</p>
            <span class="number">0%</span>
            <span class="line"></span>
        </div>
    </div> -->
    <header>
        <!-- Header -->
        <div class="header-area two">
            <div class="container-fluid">
                <div class="row justify-content-end">


                    <div class="col-3 col-md-1 col-mg-1">
                        <div class="right">

                            <select class="form-select" onchange="location =
                                    this.options[this.selectedIndex].value;">
                                <% if(language=='en' ) { %>
                                    <option value="/en" selected>English</option>
                                    <option value="/hk">繁</option>

                                    <% } else { %>
                                        <option value="/hk" selected>繁</option>
                                        <option value="/en">English</option>

                                        <% } %>
                            </select>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Header -->
        <div class="header-area">
            <div style="height: 140px;display: none;" id="dummyDiv"></div>
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 py-2">
                            <div class="menu-wrapper d-flex align-items-center justify-content-between">
                                <div class="header-left d-flex align-items-center justify-content-between">
                                    <!-- Logo-->
                                    <div class="logo logo-large light-logo">
                                        <a href="/"><img src="../../../assets/images/logo/VirtueLogo.png"
                                                alt="logo"></a>
                                    </div>
                                    <!-- Logo Mobile-->
                                    <div class="logo logo-mobile light-logo">
                                        <a href="/"><img src="../../../assets/images/logo/VirtueLogo.png" alt="img"></a>
                                    </div>
                                </div>

                                <div class="search-container">
                                    <input type="text" id="searchField" class="search-field" placeholder="Search...">
                                    <button id="closeSearch" class="close-search-btn"><i
                                            class="ri-close-line"></i></button>
                                </div>



                                <!-- Main-menu for desktop -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul class="listing" id="navigation">
                                            <li class="single-list">
                                                <a href="/<%=language%>" class="single">
                                                    <%=pageText.home%>
                                                </a>

                                            </li>
                                            <li class="single-list"><a href="/<%=language%>/about-us" class="single">
                                                    <%=pageText.about%>
                                                </a></li>
                                            <li class="single-list"><a href="/<%=language%>/services" class="single">
                                                    <%=pageText.services%>
                                                </a></li>
                                            <li class="single-list"><a href="/<%=language%>/voucher" class="single">
                                                    <%=pageText.vouchers%>
                                                </a></li>
                                            <li class="single-list">
                                                <a href="javascript:void(0)" class="single">
                                                    <%=pageText.info %><i class="ri-arrow-down-s-line"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li class="single-list"><a href="/<%=language%>/blog-details/stoke"
                                                            class="single">
                                                            <%=pageText.stroke%>
                                                        </a></li>
                                                    <li class="single-list"><a
                                                            href="/<%=language%>/blog-details/parkinson" class="single">
                                                            <%=pageText.parkinson%>
                                                        </a></li>
                                                </ul>
                                            </li>


                                            </li>
                                            <li class="single-list"><a href="/<%=language%>/contact-us" class="single">
                                                    <%=pageText.contactus%>
                                                </a></li>


                                        </ul>
                                    </nav>
                                </div>

                                <div class="header-right">
                                    <div class="cart">
                                        <a href="javascript:void(0)" class="rounded-btn search-bar"><i
                                                class="ri-search-line"></i></a>
                                        <!-- <a href="/<%=language%>/login" class="btn-primary-fill pill-btn">
                          <%=pageText.login%>
                        </a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="div">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <%- body %>

     <!-- Gallery S t a r t -->
     <div class="gallery-area">
        <div class="gallery-slider d-flex">
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-1.png" alt="img">
            </div>
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-2.png" alt="img">
            </div>
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-3.png" alt="img">
            </div>
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-4.png" alt="img">
            </div>
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-5.png" alt="img">
            </div>
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-6.png" alt="img">
            </div>
            <div class="gallery-img">
                <img src="../../../assets/images/gallery/gallery-7.png" alt="img">
            </div>
        </div>
    </div>
    <!-- End-of Gallery -->






        <!-- Footer S t a r t -->
        <footer>
            <div class="footer-wrapper footer-bg-one">
                <div class="container">
                    <div class="footer-menu">
                        <div class="col-lg-12">
                            <div class="menu-wrapper d-flex align-items-center justify-content-between">
                                <div class="header-left d-flex align-items-center justify-content-between">
                                    <!-- Logo-->
                                    <div class="logo">
                                        <a href="/"><img src="../../../assets/images/logo/VirtueLogo.png"
                                                alt="logo"></a>
                                    </div>
                                </div>
                                <!-- Footer-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul class="listing" id="navigation2">
                                            <li class="single-list">
                                                <a href="/<%=language%>" class="single">
                                                    <%=pageText.home%>
                                                </a>

                                            </li>
                                            <li class="single-list"><a href="/<%=language%>/about-us" class="single">
                                                    <%=pageText.about%>
                                                </a></li>
                                            <li class="single-list"><a href="/<%=language%>/services" class="single">
                                                    <%=pageText.services%>
                                                </a></li>
                                            <li class="single-list"><a href="/<%=language%>/voucher" class="single">
                                                    <%=pageText.vouchers%>
                                                </a></li>
                                            <li class="single-list"><a href="/<%=language%>/stoke" class="single">
                                                    <%=pageText.info%>
                                                </a></li>
                                            </li>
                                            <li class="single-list"><a href="/<%=language%>/contact-us" class="single">
                                                    <%=pageText.contactus%>
                                                </a></li>

                                        </ul>
                                    </nav>
                                </div>
                                <!-- Right button -->
                                <ul class="cart">
                                    <li class="cart-list"><a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢服務。"
                                            class="btn-primary-fill pill-btn">
                                            <%=pageText.contactus%>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="footer-line">
                    <div class="footer-imp-link row g-4 justify-content-between">
                        <div class="col-xl-2 col-lg-6">
                            <div class="footer-link">
                                <h4 class="title">
                                    <%=pageText.serviceContents%>
                                </h4>
                                <ul class="imp-link">
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.homePhysio%>
                                        </a>
                                    </li>
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.homeSpeech%>
                                        </a>
                                    </li>
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.homeOccupational%>
                                        </a>
                                    </li>
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.homeNursing%>
                                        </a>
                                    </li>
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.lifeImproveService %>
                                        </a>
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.accompanyService%>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6">
                            <div class="footer-link">
                                <h4 class="title">
                                    <%=pageText.aboutus%>
                                </h4>
                                <ul class="imp-link">
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.ourMission%>
                                    </li>
                                    <li class="single-list">
                                        <a class="single" href="javascript:void(0)">
                                            <%=pageText.ourVision%>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6">
                            <div class="footer-link">
                                <h4 class="title">
                                    <%=pageText.vouchers%>
                                </h4>
                                <ul class="imp-link" <li class="single-list">
                                    <a class="single" href="javascript:void(0)">
                                        <%=pageText.serviceContent%>
                                            </li>
                                            <li class="single-list">
                                                <a class="single" href="javascript:void(0)">
                                                    <%=pageText.whatIsCoupon%>
                                                </a>
                                            </li>
                                            <li class="single-list">
                                                <a class="single" href="javascript:void(0)">
                                                    <%=pageText.howToApply%>
                                                </a>
                                            </li>
                                            <li class="single-list">
                                                <a class="single" href="javascript:void(0)">
                                                    <%=pageText.chargeDetail%>
                                                </a>
                                            </li>
                                            <li class="single-list">
                                                <a class="single" href="javascript:void(0)">
                                                    <%=pageText.couponFAQ%>
                                                </a>
                                            </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-5">
                            <div class="footer-link">
                                <h4 class="title">
                                    <%=pageText.contactus%>
                                </h4>
                                <ul class="imp-link">
                                    <li class="single-list">
                                        <div class="d-flex align-items-center gap-10 mb-20">
                                            <div class="imp-icon">
                                                <i class="ri-mail-fill"></i>
                                            </div>
                                            <a class="single" href="javascript:void(0)">virtuehub@gmail.com</a>
                                        </div>
                                    </li>
                                    <li class="single-list">
                                        <div class="d-flex align-items-center gap-10 mb-20">
                                            <div class="imp-icon">
                                                <i class="ri-phone-fill"></i>
                                            </div>
                                            <a class="single" href="javascript:void(0)">(+852)2120-5494</a>
                                        </div>
                                    </li>
                                    <li class="single-list">
                                        <div class="d-flex align-items-center gap-10 mb-20">
                                            <div class="imp-icon">
                                                <i class="ri-map-pin-2-fill"></i>
                                            </div>
                                            <a class="single" href="javascript:void(0)">
                                                <%=pageText.address%>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-xl-4 col-lg-6">
            <div class="footer-link">
              <h4 class="title">Projects</h4>
              <ul class="imp-link">
                <li class="single-list">
                  <div class="d-flex gap-20 mb-20 align-items-center">
                    <div class="project-img">
                      <a href="donation-details.html">
                        <img src="../../../assets/images/gallery/project-1.png" alt="image">
                      </a>
                    </div>

                    <div class="project-info">
                      <p class="project-date">12.Oct.2023</p>
                      <h4 class="project-title"><a href="donation-details.html">18 Best Charity Marketing Champions</a>
                      </h4>
                    </div>
                  </div>
                </li>
                <li class="single-list">
                  <div class="d-flex gap-20">
                    <div class="project-img">
                      <a href="donation-details.html">
                        <img src="../../../assets/images/gallery/project-2.png" alt="image">
                      </a>
                    </div>
                    <div class="project-info">
                      <p class="project-date">20.Oct.2023</p>
                      <h4 class="project-title"><a href="donation-details.html">Charity starts from home. You Can't Even
                          Help,</a></h4>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
                    </div>
                    <hr class="footer-line">
                </div>
                <!-- footer-bottom area -->
                <div class="footer-bottom-area">
                    <div class="container">
                        <div class="footer-border">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="footer-copy-right text-center">
                                        <p class="pera">Copyright © 2024 Virtue Club. All rights reserved.</p>
                                        <div class="footer-social-link">
                                            <ul class="listing">
                                                <li class="single-list">
                                                    <a class="single" href=""><i class="ri-facebook-fill"></i></a>
                                                </li>
                                                <li class="single-list">
                                                    <a class="single" href=""><i class="ri-youtube-fill"></i></a>
                                                </li>
                                                <li class="single-list">
                                                    <a class="single" href=""><i class="ri-instagram-line"></i></a>
                                                </li>
                                                <li class="single-list">
                                                    <a class="single" href=""><i class="ri-linkedin-fill"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End-of Footer -->
        <!-- Scroll Up  -->
        <div class="progressParent" id="back-top">
            <svg class="backCircle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- Add an overlay element -->
        <div class="overlay"></div>
        <!-- jquery-->
        <script src="../../../assets/js/jquery-3.7.0.min.js"></script>
        <script src="../../../assets/js/popper.min.js"></script>
        <script src="../../../assets/js/bootstrap-5.3.0.min.js"></script>
        <!-- Plugin -->
        <script src="../../../assets/js/plugin.js"></script>
        <script src="../../../assets/js/main.js"></script>

</body>

</html>