<!DOCTYPE html>
<html lang="en" dir="lrt">

<head>

  <main>
    <!-- Breadcrumb Area S t a r t -->
    <section class="breadcrumb-section breadcrumb-bg">
      <div class="container">
        <div class="breadcrumb-text">
          <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp" data-wow-delay="0.0s">
            <ul class="breadcrumb listing">
              <li class="breadcrumb-item single-list"><a href="/" class="single">
                  <%=pageText.home%>
                </a></li>
              <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)" class="single">
                  <%=pageText.about%>
                </a></li>
            </ul>
          </nav>
          <h1 class="title wow fadeInUp" data-wow-delay="0.1s">
            <%=pageText.about%>
          </h1>
        </div>
      </div>
    </section>
    <!-- End-of Breadcrumb Area -->


    <!-- About us Area S t a r t -->
    <section class="about-area mt-100">
      <div class="container">
        <div class="row justify-content-between ">
          <div class="col-lg-6 my-auto ">
            <!-- Section Tittle -->
            <div class="section-tittle mb-35">
              <span class="sub-tittle text-capitalize font-600">
                <%=pageText.about%>
              </span>
              <h2 class="title font-700 pb-15">
                <%=pageText.ourVisionDesc%>
              </h2>
              <p class="pera-subtitle mb-15">
                <%=pageText.ourMission1%>
              </p>
              <p class="pera-subtitle">
                <%=pageText.ourMission2%>
              </p>
              <br>
              <p class="pera-subtitle">
                <%=pageText.ourMission3%>
              </p>
            </div>

          </div>
          <div class="col-lg-5">
            <div class="position-relative h-100">
              <div class="play-button">
                <a id="play-video-two" class="video-play-button-two d-none d-lg-block d-none d-lg-block"
                  href="javascript:void(0)">
                  <span></span>
                </a>

                <div id="video-overlay" class="video-overlay">
                  <a class="video-overlay-close">&times;</a>
                </div>
              </div>
              <div>
                <img class="w-100 d-none d-lg-block" src="../../../assets/images/gallery/aboutus1.png" alt="image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-of About us Area -->

    <!-- helpful area S t a r t-->
    <section class="helpful-area-three section-padding">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-xl-7">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-50">
              <span class="sub-tittle text-capitalize font-600">
                <%=pageText.team%>
              </span>
              <h2 class="title font-700">
                <%=pageText.meetOurTeam%>
              </h2>
            </div>
          </div>
        </div>
        <div class="row g-24">
          <%const team=pageText.teamData%>
            <% team.forEach((team, index)=> { %>
              <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="helpful-card wow fadeInUp" data-wow-delay="<%=(index+1)/10%>s">
                  <div class="helpful-card-icon">
                    <image src="../../../assets/images/icon/<%=team.imageName%>" alt="icon" class="helpful-card-icon">
                  </div>
                  <div class="helpful-card-caption">
                    <h4 class="caption-title">
                      <%=team.name%>
                    </h4>
                    <p class="caption-para">
                      <%=team.description%>
                    </p>

                  </div>
                  <div class="number-watermark">
                    <h4 class="number">
                      <%=index!==9?'0':''%><%=index+1%>
                    </h4>
                  </div>
                </div>
              </div>
              <%})%>


        </div>
      </div>
    </section>
    <!-- End-of helpful-->

    <!-- favorite Area S t a r t -->
    <div class="favourite-section section-padding">
      <div class="container">
        <div class="favourite-slider">
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-1.png" alt="image">
          </div>
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-4.png" alt="image">
          </div>
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-3.png" alt="image">
          </div>
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-4.png" alt="image">
          </div>
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-5.png" alt="image">
          </div>
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-1.png" alt="image">
          </div>
          <div class="img-container">
            <img src="../../../assets/images/gallery/fav-1.png" alt="image">
          </div>
        </div>
        <hr class="divider mb-0">
      </div>
    </div>
    <!-- End-of favorite -->








  </main>


  </body>

</html>