<!DOCTYPE html>
<html lang="en" dir="lrt">


<main>
    <!-- Breadcrumb Area S t a r t -->
    <section class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="breadcrumb-text">
                <nav aria-label="breadcrumb" class="breadcrumb-nav wow fadeInUp" data-wow-delay="0.0s">
                    <ul class="breadcrumb listing">
                        <li class="breadcrumb-item single-list"><a href="/" class="single">
                                <%=pageText.home%>
                            </a></li>
                        <li class="breadcrumb-item single-list" aria-current="page"><a href="javascript:void(0)"
                                class="single">
                                <%=pageText.contactUs%>
                            </a></li>
                    </ul>
                </nav>
                <h1 class="title wow fadeInUp" data-wow-delay="0.1s">
                    <%=pageText.contactUs%>
                </h1>
            </div>
        </div>
    </section>
    <!-- End-of Breadcrumb Area -->

    <!-- Contact area S t a r t-->
    <div class="volunteer-details top-bottom-padding2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-section">
                        <div class="contact-list">
                            <div class="contact-icon-list">
                                <div class="single-icon">
                                    <i class="ri-phone-fill"></i>
                                </div>
                                <div class="divider-ver"></div>
                                <div class="contact-content">
                                    <p class="subtitle">
                                        <%=pageText.phone%>
                                    </p>
                                    <a class="title" href="javascript:void(0)">(+852)2120-5494</a>
                                </div>
                            </div>
                            <div class="contact-icon-list">
                                <div class="single-icon">
                                    <i class="ri-mail-fill"></i>
                                </div>
                                <div class="divider-ver"></div>
                                <div class="contact-content">
                                    <p class="subtitle">
                                        <%=pageText.email%>
                                    </p>
                                    <a class="title" href="javascript:void(0)">virtuehub@gmail.com</a>
                                </div>
                            </div>
                            <div class="contact-icon-list">
                                <div class="single-icon">
                                    <i class="ri-map-pin-line"></i>
                                </div>
                                <div class="divider-ver"></div>
                                <div class="contact-content">
                                    <p class="subtitle">
                                        <%=pageText.addressWord%>
                                    </p>
                                    <a class="title" href="javascript:void(0)">
                                        <%=pageText.seeBelowMap%>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-padding4">
                <div class="row gy-24">
                    <div class="col-xl-6">
                        <div class="send-box">
                            <form action="contact-us.html" class="custom-form">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label class="custom-label" for="exampleFormControlInput1">
                                                <%=pageText.fullName%>
                                            </label>
                                            <input type="text" class="form-control custom-input"
                                                id="exampleFormControlInput1" placeholder="Alex Jordan">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label class="custom-label" for="exampleFormControlInput5">
                                                <%=pageText.phone%>
                                            </label>
                                            <input type="text" class="form-control custom-input"
                                                id="exampleFormControlInput5" placeholder="(+852)2120-5494">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label class="custom-label" for="exampleFormControlInput2">
                                                <%=pageText.email%>
                                            </label>
                                            <input type="email" class="form-control custom-input"
                                                id="exampleFormControlInput2" placeholder="name@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label class="custom-label" for="exampleFormControlTextarea1">
                                            <%=pageText.message%>
                                        </label>
                                        <textarea class="form-control custom-textarea" id="exampleFormControlTextarea1"
                                            placeholder="<%=pageText.messagePlaceHolder%>" rows="3"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="submit-btn">
                                    <%=pageText.sendMessage%>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <iframe class="map-frame" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3689.0611428316047!2d113.97667501096686!3d22.389052339587415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z5paw55WM5bGv6ZaA6Z2S5bGx5Z2KMuiZn-aoguiPr-Wkp-W7iOS4gOiZn-aok-e4veermQ!5e0!3m2!1sen!2shk!4v1712629433953!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End-of contact-->


</main>




</html>