<!DOCTYPE html>
<html lang="en" dir="lrt">

<body>

  <main>
    <!-- Hero area S t a r t-->
    <section class="hero-area">
      <div class="single-slider hero-padding">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-xxl-6 col-xl-6 col-lg-6 my-auto">
              <div class="hero-caption-one mb-20">
                <h4 class="key-title font-700 mb-20 wow fadeInUp" data-wow-delay="0.0s">
                  <%=pageText.captionEn%>
                </h4>
                <h1 class="title font-700 wow fadeInUp" data-wow-delay="0.1s">
                  <%=pageText.captionHk%>
                </h1>
                <p class="pera wow fadeInUp" data-wow-delay="0.3s">
                  <%=pageText.captionDescription%>
                </p>
                <div class="d-flex gap-20 flex-wrap mb-20">
                  <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢服務。" class="btn-primary-fill hero-btn wow fadeInLeft"
                    data-wow-delay="0.4s">
                    <%=pageText.contactus%>
                  </a>
                  <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢服務。" class="btn-tertiary-fill hero-btn wow fadeInRight"
                    data-wow-delay="0.4s">
                    <%=pageText.joinMember%>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="d-flex gap-44">
                <div class="hero-image position-relative d-none d-lg-block">
                  <img src="assets/images/hero/banner-1.png" alt="img" class="w-100 tilt-effect wow fadeInUp"
                    data-wow-delay="0.1s">
                </div>
                <div class="hero-count-section flex flex-column gap-60">
                  <div class="hero-count wow fadeInUp" data-wow-delay="0.0s">
                    <h4 class="title">12+</h4>
                    <p class="pera">
                      <%=pageText.coorperatedOrganizations%>
                    </p>
                  </div>
                  <div class="hero-count wow fadeInUp" data-wow-delay="0.2s">
                    <h4 class="title">140+</h4>
                    <p class="pera">
                      <%=pageText.professionalTherapist%>
                    </p>
                  </div>
                  <div class="hero-count  wow fadeInUp" data-wow-delay="0.3s">
                    <h4 class="title">500+</h4>
                    <p class="pera">
                      <%=pageText.satisfiedClients%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-of Hero-->

    <!-- helpful area S t a r t-->
    <section class="helpful-area section-padding2">
      <div class="container">
        <div class="row gy-24">
          <div class="col-xl-3 col-md-6 col-lg-6">
            <div class="helpful-card h-calc  wow fadeInLeft" data-wow-delay="0.2s">
              <image src="assets/images/icon/physical-therapy.png" alt="icon" class="helpful-card-icon">
                <div class="helpful-card-caption">
                  <h4 class="caption-title">
                    <%=pageText.homePhysio%>
                  </h4>
                  <p class="caption-para">
                    <%=pageText.homePhysioDescription%>
                  </p>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-6">
            <div class="helpful-card h-calc  wow fadeInLeft" data-wow-delay="0.0s">
              <image src="assets/images/icon/therapy.png" alt="icon" class="helpful-card-icon">
                <div class="helpful-card-caption">
                  <h4 class="caption-title">
                    <%=pageText.homeSpeech%>
                  </h4>
                  <p class="caption-para">
                    <%=pageText.homeSpeechDescription%>
                  </p>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-6">
            <div class="helpful-card h-calc wow fadeInRight" data-wow-delay="0.0s">
              <image src="assets/images/icon/physiotherapist.png" alt="icon" class="helpful-card-icon">
                <div class="helpful-card-caption">
                  <h4 class="caption-title">
                    <%=pageText.homeOccupational%>
                  </h4>
                  <p class="caption-para">
                    <%=pageText.homeOccupationalDescription%>
                  </p>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-6">
            <div class="helpful-card h-calc  wow fadeInRight" data-wow-delay="0.2s">
              <image src="assets/images/icon/medical-team.png" alt="icon" class="helpful-card-icon">
                <div class="helpful-card-caption">
                  <h4 class="caption-title">
                    <%=pageText.homeNursing%>
                  </h4>
                  <p class="caption-para">
                    <%=pageText.homeNursingDescription%>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-of helpful-->

    <!-- urgent Area S t a r t -->

    <!-- End-of urgent area -->



    <!-- Our event S t a r t-->
    <section class="our-event bottom-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-50">
              <span class="sub-tittle text-capitalize font-600">
                <%=pageText.ourEvent%>
              </span>
              <h2 class="title font-700">
                <%=pageText.ourComingEvent%>
              </h2>
            </div>
          </div>
        </div>
        <div class="row gy-24">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 view-wrapper">
            <div class="single-event h-calc wow fadeInUp" data-wow-delay="0.0s">
              <div class="event-img position-relative">
                <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢外展機構及院舍。"> <img src="assets/images/gallery/hkExhibitionCenter.png"
                    class="img-fluid w-100" alt="img"> </a>
              </div>
              <div class="event-info">
                <div class="d-flex justify-content-between align-items-center gap-6">
                  <div class="event-info-title">
                    <div class="flex gap-15 mb-18 align-items-center flex-wrap">
                      <div class="date flex gap-12 align-items-center">
                        <i class="ri-time-line"></i>
                        <p class="info">
                          <%=pageText.eventDate1%>
                        </p>
                      </div>
                      <br>
                      <div class="map flex gap-12 align-items-center">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2M4 19V5h16l.002 14z"/><path fill="currentColor" d="M6 7h12v2H6zm0 4h12v2H6zm0 4h6v2H6z"/></svg> -->
                        <p class="info">
                          <%=pageText.eventLocation1%>
                        </p>
                      </div>
                    </div>
                    <h4><a class="title text-capitalize" href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢外展機構及院舍。">
                        <%=pageText.eventTitle1%>
                      </a></h4>
                  </div>
                  <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢外展機構及院舍。" class="btn-arrow"><i class="ri-arrow-right-line"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 view-wrapper">
            <div class="single-event h-calc wow fadeInUp" data-wow-delay="0.1s">
              <div class="event-img position-relative">
                <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢社區券計劃 。"> <img src="assets/images/gallery/emax.png" class="img-fluid w-100"
                    alt="img"> </a>
              </div>
              <div class="event-info">
                <div class="d-flex justify-content-between align-items-center gap-6">
                  <div class="event-info-title">
                    <div class="flex gap-15 mb-18 align-items-center flex-wrap">
                      <div class="date flex gap-12 align-items-center">
                        <i class="ri-time-line"></i>
                        <p class="info">
                          <%=pageText.eventDate2%>
                        </p>
                      </div>
                      <br>
                      <div class="map flex gap-12 align-items-center">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2M4 19V5h16l.002 14z"/><path fill="currentColor" d="M6 7h12v2H6zm0 4h12v2H6zm0 4h6v2H6z"/></svg> -->
                        <p class="info">
                          <%=pageText.eventLocation2%>
                        </p>
                      </div>
                    </div>
                    <h4><a class="title text-capitalize" href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢社區券計劃。">
                        <%=pageText.eventTitle2%>
                      </a></h4>
                  </div>
                  <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢社區券計劃。" class="btn-arrow"><i class="ri-arrow-right-line"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 view-wrapper">
            <div class="single-event h-calc wow fadeInUp" data-wow-delay="0.2s">
              <div class="event-img position-relative">
                <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢移民專用。"> <img src="assets/images/gallery/paintingCenter.png"
                    class="img-fluid w-100" alt="img"> </a>
              </div>
              <div class="event-info">
                <div class="d-flex justify-content-between align-items-center gap-6">
                  <div class="event-info-title">
                    <div class="flex gap-15 mb-18 align-items-center flex-wrap">
                      <div class="date flex gap-12 align-items-center">
                        <i class="ri-time-line"></i>
                        <p class="info">
                          <%=pageText.eventDate3%>
                        </p>
                      </div>
                      <br>
                      <div class="map flex gap-12 align-items-center">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2M4 19V5h16l.002 14z"/><path fill="currentColor" d="M6 7h12v2H6zm0 4h12v2H6zm0 4h6v2H6z"/></svg> -->
                        <p class="info">
                          <%=pageText.eventLocation3%>
                        </p>
                      </div>
                    </div>
                    <h4><a class="title text-capitalize" href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢移民專用。">
                        <%=pageText.eventTitle3%>
                      </a></h4>
                  </div>
                  <a href="https://api.whatsapp.com/send?phone=85268715252&text=你好! 我有興趣查詢移民專用。" class="btn-arrow"><i class="ri-arrow-right-line"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-of All Product -->

    <!-- Any Question Area S t a r t -->
    <section class="question-area bottom-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 my-auto">
            <!-- Section Tittle -->
            <div class="section-tittle mb-50">
              <h2 class="title font-700">
                <%=pageText.commonQuestion%>
              </h2>
              <p class="pera">
                <%=pageText.commonQuestionDescription%>
              </p>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed additional-styles" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%=pageText.commonQuestion1%>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <%=pageText.commonQuestion1Description%>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed additional-styles" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <%=pageText.commonQuestion2%>
                  </button>

                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <%=pageText.commonQuestion2Description%>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed additional-styles" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <%=pageText.commonQuestion3%>
                  </button>

                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <%=pageText.commonQuestion3Description%>
                  </div>

                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed additional-styles" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <%=pageText.commonQuestion4%>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <%=pageText.commonQuestion4Description%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <img class="w-100 d-none d-lg-block tilt-effect" src="assets/images/gallery/que.png" alt="image">
          </div>
        </div>
      </div>
    </section>
    <!-- End-of Question Area -->

    <!-- Testimonial S t a r t-->
    <section class="testimonial-section bottom-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-50">
              <span class="sub-tittle text-capitalize font-600">
                <%=pageText.testimonial%>
              </span>
              <h2 class="title font-700">
                <%=pageText.testimonialDescription%>
              </h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center g-24">
          <div class="col-lg-10 col-12 testimonial-slider">
            <div class="single-testimonial position-relative">
              <div class="client-info">
                <div class="client-details">
                  <h3 class="name">
                    <%=pageText.testimonialName1%>
                  </h3>
                  <p class="location">
                    <%=pageText.testimonialLocation1%>
                  </p>
                </div>
                <div class="rating">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
              </div>
              <div class="position-relative">
                <p class="pera">
                  <i>
                    <%=pageText.testimonialComment1%>
                  </i>
                </p>
                <div class="position-absolute quote">
                  <div class="rounded-btn">
                    <i class="ri-double-quotes-r"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-testimonial position-relative">
              <div class="client-info">
                <div class="client-details">
                  <h3 class="name">
                    <%=pageText.testimonialName2%>
                  </h3>
                  <p class="location">
                    <%=pageText.testimonialLocation2%>
                  </p>
                </div>

                <div class="rating">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
              </div>
              <div class="position-relative">
                <p class="pera pb-80">
                  <i>
                    <%=pageText.testimonialComment2%>
                  </i>
                </p>
                <div class="position-absolute quote">
                  <div class="rounded-btn">
                    <i class="ri-double-quotes-r"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-testimonial position-relative">
              <div class="client-info">
                <div class="client-details">
                  <h3 class="name">
                    <%=pageText.testimonialName3%>
                  </h3>
                  <p class="location">
                    <%=pageText.testimonialLocation3%>
                  </p>
                </div>

                <div class="rating">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
              </div>
              <div class="position-relative">
                <p class="pera pb-80">
                  <i>
                    <%=pageText.testimonialComment3%>
                  </i>
                </p>
                <div class="position-absolute quote">
                  <div class="rounded-btn">
                    <i class="ri-double-quotes-r"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-of Testimonial -->

    <!-- Blog S t a r t -->
    <section class="blog-section bottom-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7">
            <!-- Section Tittle -->
            <div class="section-tittle text-center mb-50">
              <span class="sub-tittle text-capitalize font-600">
                <%=pageText.blog%>
              </span>
              <h2 class="title font-700">
                <%=pageText.blogDescription%>
              </h2>
            </div>
          </div>
        </div>
        <div class="row gy-24">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 view-wrapper">
            <div class="single-blog h-calc wow fadeInUp" data-wow-delay="0.2s">
              <div class="blog-img position-relative">
                <a href="blog-details.html"> <img src="assets/images/gallery/blog-1.png" class="img-fluid w-100"
                    alt="img"> </a>
              </div>
              <div class="blog-info">
                <div class="blog-info-title">
                  <div class="flex gap-16 align-items-center">
                    <div class="user flex gap-10 align-items-center">
                      <i class="ri-user-line"></i>
                      <p class="info">By: <%=pageText.blogAuthor1Name%>
                      </p>
                    </div>
                    <div class="donate flex gap-10 align-items-center">
                      <i class="ri-chat-3-line"></i>
                      <p class="info">
                        <%=pageText.blogCategory1%>
                      </p>
                    </div>
                  </div>
                  <h4 class="title text-capitalize"><a href="blog-details.html">
                      <%=pageText.blogTitle1%>
                    </a></h4>

                  <p class="subtitle">
                    <%=pageText.blogDescription1%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 view-wrapper">
            <div class="single-blog h-calc wow fadeInUp" data-wow-delay="0.0s">
              <div class="blog-img position-relative">
                <a href="blog-details.html"> <img src="assets/images/gallery/blog-2.png" class="img-fluid w-100"
                    alt="img"> </a>

              </div>
              <div class="blog-info">
                <div class="blog-info-title">
                  <div class="flex gap-16 align-items-center">
                    <div class="user flex gap-10 align-items-center">
                      <i class="ri-user-line"></i>
                      <p class="info">By: <%=pageText.blogAuthor2Name%>
                      </p>
                    </div>
                    <div class="donate flex gap-10 align-items-center">
                      <i class="ri-chat-3-line"></i>
                      <p class="info">
                        <%=pageText.blogCategory2%>
                      </p>
                    </div>
                  </div>
                  <h4 class="title text-capitalize"><a href="blog-details.html">
                      <%=pageText.blogTitle2%>
                    </a></h4>
                  <p class="subtitle">
                    <%=pageText.blogDescription2%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 view-wrapper">
            <div class="single-blog h-calc wow fadeInUp" data-wow-delay="0.2s">
              <div class="blog-img position-relative">
                <a href="blog-details.html"> <img src="assets/images/gallery/blog-3.png" class="img-fluid w-100"
                    alt="img"> </a>
              </div>
              <div class="blog-info">
                <div class="blog-info-title">
                  <div class="flex gap-16 align-items-center">
                    <div class="user flex gap-10 align-items-center">
                      <i class="ri-user-line"></i>
                      <p class="info">By: <%=pageText.blogAuthor3Name%>
                      </p>
                    </div>
                    <div class="donate flex gap-10 align-items-center">
                      <i class="ri-chat-3-line"></i>
                      <p class="info">
                        <%=pageText.blogCategory3%>
                      </p>
                    </div>
                  </div>
                  <h4 class="title text-capitalize"><a href="blog-details.html">
                      <%=pageText.blogTitle3%>
                    </a></h4>

                  <p class="subtitle">
                    <%=pageText.blogDescription3%>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-of Blog -->
    <!-- Gallery S t a r t -->
    <div class="gallery-area">
      <div class="gallery-slider d-flex">
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-1.png" alt="img">
        </div>
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-2.png" alt="img">
        </div>
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-3.png" alt="img">
        </div>
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-4.png" alt="img">
        </div>
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-5.png" alt="img">
        </div>
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-6.png" alt="img">
        </div>
        <div class="gallery-img">
          <img src="assets/images/gallery/gallery-7.png" alt="img">
        </div>
      </div>
    </div>
    <!-- End-of Gallery -->

  </main>

  <!-- Scroll Up  -->
  <div class="progressParent" id="back-top">
    <svg class="backCircle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- Add an overlay element -->
  <div class="overlay"></div>

</body>

<!-- Main js-->


</html>