<!-- Banner -->
<div class="banner-area two banner-img-two">
    <div class="banner-shape-two">
        <img src="../../assets/images/banner/banner-shape6.png" alt="Shape">
        <img src="../../assets/images/banner/banner-shape2.png" alt="Shape">
        <img src="../../assets/images/banner/banner-shape7.png" alt="Shape">
        <img src="../../assets/images/banner/banner-shape8.png" alt="Shape">
        <img src="../../assets/images/banner/banner-shape9.png" alt="Shape">
        <img src="../../assets/images/banner/banner-shape10.png" alt="Shape">
        <img src="../../assets/images/banner/banner-shape11.png" alt="Shape">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">

                <div class="banner-content">
                    <h1 class="wow fadeInUp">
                        <%=pageText.slogan%>
                    </h1>
                    <div class="banner-btn-area">
                        <a class="common-btn two" href="/<%=language%>/price-list">
                            <%=pageText.services%>
                        </a>
                        <a class="common-btn two banner-btn" href="/<%=language%>/contact-us">
                            <%=pageText.contactUs%>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Services -->
<section class="services-area two ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>
                <%=pageText.ourBeautyServices%>
            </h2>
            <p>
                <%=pageText.ourBeautyServicesDescription%>
            </p>
        </div>
        <div class="row">

            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="../../assets/images/services/service4.png" alt="Services">
                        <h3>
                            <a href="/<%=language%>/service-details/eyebrow">
                                <%=pageText.eyebrow%>
                            </a>
                        </h3>
                        <p>
                            <%=pageText.eyebrowDescription%>
                        </p>
                        <a class="services-btn" href="/<%=language%>/service-details/eyebrow">
                            <%=pageText.viewMore%>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="../../assets/images/services/service2.png" alt="Services">
                        <h3>
                            <a href="/<%=language%>/service-details/eyelashes">
                                <%=pageText.eyelashes%>
                            </a>
                        </h3>
                        <p>
                            <%=pageText.eyelashesDescription%>
                        </p>
                        <a class="services-btn" href="/<%=language%>/service-details/eyelashes">
                            <%=pageText.viewMore%>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="../../assets/images/services/service3.png" alt="Services">
                        <h3>
                            <a href="/<%=language%>/service-details/Mesotherapy">
                                <%=pageText.mesotherapy%>
                            </a>
                        </h3>
                        <p>
                            <%=pageText.mesotherapyDescription%>
                        </p>
                        <a class="services-btn" href="/<%=language%>/service-details/Mesotherapy">
                            <%=pageText.viewMore%>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="services-item">
                    <div class="inner">
                        <img src="../../assets/images/services/service1.png" alt="Services">
                        <h3>
                            <a href="/<%=language%>/service-details/lips">
                                <%=pageText.lips%>
                            </a>
                        </h3>
                        <p>
                            <%=pageText.lipsDescription%>
                        </p>
                        <a class="services-btn" href="/<%=language%>/service-details/lips">
                            <%=pageText.viewMore%>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <a class="common-btn two" href="/<%=language%>/price-list">
                <%=pageText.viewAllServices%>
            </a>
        </div>

    </div>
</section>
<!-- End Services -->

<!-- Know -->
<div class="know-area pt-100 pb-70">
    <div class="know-shape">
        <img src="../../assets/images/know/know-shape3.png" alt="Shape">
        <img src="../../assets/images/know/know-shape4.png" alt="Shape">
        <img src="../../assets/images/know/know-shape2.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="know-img">
                    <img src="../../assets/images/know/know-bg1.png" alt="Know">
                    <img src="../../assets/images/know/know-shape1.png" alt="Shape">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="know-content">
                    <div class="section-title">
                        <h2>
                            <%=pageText.knowMoreAboutUs%>
                        </h2>
                        <p>
                            <%=pageText.knowMoreAboutUsDescription%>
                        </p>
                    </div>
                    <ul>
                        <li>
                            <img src="../../assets/images/know/know-icon1.png" alt="Know">
                            <h3>
                                <%=pageText.awardWinning%>
                            </h3>
                            <p>
                                <%=pageText.awardWinningDescription%>
                            </p>
                        </li>
                        <li>
                            <img src="../../assets/images/know/know-icon2.png" alt="Know">
                            <h3>
                                <%=pageText.experience%>
                            </h3>
                            <p>
                                <%=pageText.experienceDescription%>
                            </p>
                        </li>
                        <li>
                            <img src="../../assets/images/know/know-icon3.png" alt="Know">
                            <h3>
                                <%=pageText.reliableProvider%>
                            </h3>
                            <p>
                                <%=pageText.reliableProviderDescription%>
                            </p>
                        </li>
                    </ul>
                    <a class="common-btn two" href="/<%=language%>/contact-us">
                        <%=pageText.getLatestPriceList%>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Know -->

<!-- Skin -->
<section class="skin-area two pt-100 pb-70">
    <div class="skin-shape">
        <img src="../../assets/images/skin-shape2.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="skin-content">
                    <div class="section-title">
                        <h2>
                            <%=pageText.newEyebrowPlan%>
                        </h2>
                        <p>
                            <%=pageText.newEyebrowPlanDescription1%>
                        </p>
                        <p>
                            <%=pageText.newEyebrowPlanDescription2%>
                        </p>
                    </div>
                    <a class="common-btn two" href="<%=pageText.whatsappApiLink%>" target="_blank">
                        <%=pageText.bookNow%>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="skin-img">
                    <img src="../../assets/images/eyebrow-price1.png" alt="Skin">
                    <!-- <img src="../../assets/images/skin-shape1.png" alt="Shape"> -->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Skin -->

<!-- Get -->
<section class="get-area two">
    <div class="container">
        <div class="get-content">
            <div class="get-shape">
                <img src="../../assets/images/get-shape1.png" alt="Shape">
                <img src="../../assets/images/get-shape2.png" alt="Shape">
            </div>
            <div class="section-title">
                <h2>
                    <%=pageText.getSpecialDiscount%>
                </h2>
            </div>
            <a class="common-btn two" href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                <%=pageText.getAppointment%>
            </a>
        </div>
    </div>
</section>
<!-- End Get -->

<!-- Team -->
<section class="team-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>
                <%=pageText.ourTeam%>
            </h2>
            <p>
                <%=pageText.ourTeamDescription%>
            </p>
        </div>
        <div class="row">

            <div class="col-sm-6 col-lg-4">
                <div class="team-item">
                    <div class="top">
                        <img src="../../assets/images/team/team-bg1.png" alt="Team">
                        <img src="../../assets/images/team/team-bg.png" alt="Shape">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h3>Ella Gao</h3>
                        <span>
                            <%=pageText.chiefBeautician%>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="team-item">
                    <div class="top">
                        <img src="../../assets/images/team/team-bg2.png" alt="Team">
                        <img src="../../assets/images/team/team-bg.png" alt="Shape">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h3>Sinsze Wong</h3>
                        <span>
                            <%=pageText.assistantBeautician%>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="team-item">
                    <div class="top">
                        <img src="../../assets/images/team/team3.png" alt="Team">
                        <img src="../../assets/images/team/team-bg.png" alt="Shape">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h3>Anna Bradly</h3>
                        <span>
                            <%=pageText.beautician%>
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <a class="common-btn two" href="<%=pageText.whatsappApiLink%>" target="_blank">
                <%=pageText.contactProTeam%>
            </a>
        </div>

    </div>
</section>
<!-- End Team -->

<!-- Reviews -->
<div class="reviews-area two ptb-100">
    <div class="reviews-top-bottom-shape">
        <img src="../../assets/images/reviews/review-shape3.png" alt="Shape">
        <img src="../../assets/images/reviews/review-shape4.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12">
                <div class="section-title">
                    <h2>
                        <%=pageText.clientReviews%>
                    </h2>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="reviews-shape">
                        <img src="../../assets/images/reviews/reviews-shape1.png" alt="Shape">
                        <img src="../../assets/images/reviews/reviews-shape2.png" alt="Shape">
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>
                                <%=pageText.review1%>
                            </p>
                            <h3>4.8</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>
                                <%=pageText.review2%>
                            </p>
                            <h3>4.5</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>
                                <%=pageText.review3%>
                            </p>
                            <h3>4.6</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>
                                <%=pageText.review4%>
                            </p>
                            <h3>4.2</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-reviewone" role="tabpanel"
                        aria-labelledby="v-pills-reviewone-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>
                                <%=pageText.review5%>
                            </p>
                            <h3>4.2</h3>
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-12">
                <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                        role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <div class="reviews-img">
                            <img src="../../assets/images/reviews/user1.png" alt="Reviews">
                            <h3>Angela</h3>
                            <span>Director</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile"
                        role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <div class="reviews-img">
                            <img src="../../assets/images/reviews/user2.png" alt="Reviews">
                            <h3>Margaret</h3>
                            <span>Reporter</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages"
                        role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <div class="reviews-img">
                            <img src="../../assets/images/reviews/user3.png" alt="Reviews">
                            <h3>Lucy</h3>
                            <span>Model</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <div class="reviews-img">
                            <img src="../../assets/images/reviews/user4.png" alt="Reviews">
                            <h3>Maria</h3>
                            <span>Shop Owner</span>
                        </div>
                    </a>
                    <a class="nav-link" id="v-pills-reviewone-tab" data-bs-toggle="pill" href="#v-pills-reviewone"
                        role="tab" aria-controls="v-pills-reviewone" aria-selected="false">
                        <div class="reviews-img">
                            <img src="../../assets/images/reviews/user5.png" alt="Reviews">
                            <h3>Sara</h3>
                            <span>Beautician</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Reviews -->

<!-- Offer -->
<section class="offer-area two ptb-100">
    <div class="offer-shape">
        <img src="../../assets/images/offer/offer-shape1.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <h2>
                <%=pageText.specialOffers%>
            </h2>
        </div>
        <div class="offer-slider owl-theme owl-carousel">

            <div class="offer-item">
                <img src="../../assets/images/offer/offer1.png" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>
                                <%=pageText.eyeBrowTreatment%>
                            </h4>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.view%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-item">
                <img src="../../assets/images/offer/offer2.png" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>
                                <%=pageText.eyeLineTreatment%>
                            </h4>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.view%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-item">
                <img src="../../assets/images/offer/offer3.png" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>
                                <%=pageText.EyeLashesTreatment%>
                            </h4>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.view%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-item">
                <img src="../../assets/images/offer/offer4.png" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>
                                <%=pageText.lipsTreatment%>
                            </h4>
                            <a href="">
                                <%=pageText.view%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-item">
                <img src="../../assets/images/offer/offer5.png" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>
                                <%=pageText.makeup%>
                            </h4>
                            <a href="service-details.html">
                                <%=pageText.view%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offer-item">
                <img src="../../assets/images/offer/offer6.png" alt="Offer">
                <div class="inner">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h4>
                                <%=pageText.lipsTreatment%>
                            </h4>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.view%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Offer -->

<!-- Shop -->
<section class="shop-area ptb-100">
    <div class="shop-shape">
        <img src="../../assets/images/shop/shop-shape1.png" alt="Shape">
        <img src="../../assets/images/shop/shop-shape2.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <h2>
                <%=pageText.ourPopularTreatments%>
            </h2>
            <p>
                <%=pageText.ourPopularTreatmentsDescription%>
            </p>
        </div>
        <div class="row">

            <div class="col-sm-6 col-lg-4">
                <div class="shop-item">
                    <div class="top">
                        <img src="../../assets/images/shop/item2.png" alt="Shop">
                        <ul>
                            <li>
                                <a href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                                    <i class="bx bx-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                                    <i class='bx bxs-heart'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h3>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.eyeBrowTreatment%>
                            </a>
                        </h3>
                        <span>HK$2680.00</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="shop-item">
                    <div class="top">
                        <img src="../../assets/images/shop/item1.png" alt="Shop">
                        <ul>
                            <li>
                                <a href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                                    <i class="bx bx-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                                    <i class='bx bxs-heart'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h3>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.lipsTreatment%>
                            </a>
                        </h3>
                        <span>HK$3680.00</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="shop-item">
                    <div class="top">
                        <img src="../../assets/images/shop/item3.png" alt="Shop">
                        <ul>
                            <li>
                                <a href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                                    <i class="bx bx-cart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="<%=pageText.whatsappApiLink%>" target="_blank" target="_blank">
                                    <i class='bx bxs-heart'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <h3>
                            <a href="<%=pageText.whatsappApiLink%>" target="_blank">
                                <%=pageText.eyeLashesTreatment%>
                            </a>
                        </h3>
                        <span>HK$680.00</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <a class="common-btn two" href="<%=language%>/price-list">
                <%=pageText.viewAllServices%>
            </a>
        </div>

    </div>
</section>
<!-- End Shop -->

<!-- Video -->
<div class="video-area two">
    <div class="video-shape">
        <img src="../../assets/images/video-bg.png" alt="Shape">
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid p-0">

                <div class="video-item">
                    <div class="video-wrap">
                        <button class="js-modal-btn" data-video-id="tJ4FnhktL0o">
                            <i class='bx bx-play'></i>
                        </button>
                    </div>
                    <h3>
                        <%=pageText.watchHowWeWork%>
                    </h3>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Video -->

<!-- Blog -->
<!-- <section class="blog-area two pt-100 pb-70">
    <div class="blog-shape">
        <img src="../../assets/images/blog/blog-shape1.png" alt="Shape">
    </div>
    <div class="section-title">
        <h2>Some Latest Blog</h2>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-6">
                <div class="blog-item">
                    <div class="top">
                        <span>16th Nov</span>
                        <a href="blog-details.html">
                            <img src="../../assets/images/blog/blog4.jpg" alt="Blog">
                        </a>
                    </div>
                    <div class="bottom">
                        <h3>
                            <a href="blog-details.html">Top-10 Situations When You Avoid A Body Massage And When You
                                Should Start Again</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod tempor inv
                            idunt ut labore et dolore magna</p>
                        <a class="blog-btn" href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="blog-right-item">

                    <div class="inner align-items-center">
                        <div class="left">
                            <img src="../../assets/images/blog/blog-right1.jpg" alt="Blog">
                            <span>17th Nov</span>
                        </div>
                        <div class="right">
                            <h4>
                                <a href="blog-details.html">Should You Have Just One Regular Massage Every Time?</a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>

                    <div class="inner align-items-center">
                        <div class="left">
                            <img src="../../assets/images/blog/blog-right2.jpg" alt="Blog">
                            <span>18th Nov</span>
                        </div>
                        <div class="right">
                            <h4>
                                <a href="blog-details.html">How To Get Flawless Skin When Go Out To Parlor?</a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>

                    <div class="inner align-items-center">
                        <div class="left">
                            <img src="../../assets/images/blog/blog-right3.jpg" alt="Blog">
                            <span>19th Nov</span>
                        </div>
                        <div class="right">
                            <h4>
                                <a href="blog-details.html">How To Decorate Your Spa Room To Get A Luxury Feeling?</a>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadips cing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section> -->
<!-- End Blog -->

    