<!-- Page Title -->
<div class="page-title-wrap">
    <div class="page-title-area title-img-eight">
        <div class="title-shape">
            <img src="../../assets/images/title/title-shape1.png" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">

                <div class="title-content">
                    <h2>
                        <%=pageText.priceList%>
                    </h2>
                    <ul>
                        <li>
                            <a href="/<%=language%>/<%=pageText.whatsappApiLinkHref1%>" target="_blank">
                                <%=pageText.home%>
                            </a>
                        </li>
                        <li>
                            <span>
                                <%=pageText.priceList%>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Pricing -->
<div class="pricing-area two pt-100 pb-70">
    <div class="container-fluid p-0">
        <div class="row m-0 p-1">

            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img class="img-thumbnail" src="../../assets/images/price-list1.png" alt="Pricing">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img class="img-thumbnail" src="../../assets/images/price-list2.png" alt="Pricing">
                </div>
            </div>

           

          

        </div>
        <div class="row m-0 p-1">

            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img class="img-thumbnail" src="../../assets/images/price-list3.png" alt="Pricing">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img class="img-thumbnail" src="../../assets/images/price-list4.png" alt="Pricing">
                </div>
            </div>

        </div>

        <div class="row m-0">

            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img class="img-thumbnail" src="../../assets/images/price-list5.png" alt="Pricing">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img class="img-thumbnail" src="../../assets/images/price-list6.png" alt="Pricing">
                </div>
            </div>

           

          

        </div>
    </div>
</div>
<!-- End Pricing -->



<!-- Get -->
<section class="get-area two mb-100">
    <div class="container">
        <div class="get-content">
            <div class="get-shape">
                <img src="../../assets/images/get-shape1.png" alt="Shape">
                <img src="../../assets/images/get-shape2.png" alt="Shape">
            </div>
            <div class="section-title">
                <h2>
                    <%=pageText.beautySlogan2%>
                </h2>
            </div>
            <a class="common-btn two" href="/<%=language%>/<%=pageText.whatsappApiLinkHref1%>" target="_blank">
                <%=pageText.bookNow%>
            </a>
        </div>
    </div>
</section>
<!-- End Get -->