<!-- Page Title -->
<div class="page-title-wrap">
    <div class="page-title-area title-img-eight">
        <div class="title-shape">
            <img src="../../assets/images/title/title-shape1.png" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">

                <div class="title-content">
                    <h2>
                        <%=pageText.priceList%>
                    </h2>
                    <ul>
                        <li>
                            <a
                                href="https://api.whatsapp.com/send?phone=85269965503&text=%E4%BD%A0%E5%A5%BD!%20%E6%88%91%E6%9C%89%E8%88%88%E8%B6%A3%E6%9F%A5%E8%A9%A2%E6%9C%8D%E5%8B%99%E3%80%82">
                                <%=pageText.home%>
                            </a>
                        </li>
                        <li>
                            <span>
                                <%=pageText.priceList%>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Pricing -->
<div class="pricing-area two pt-100 pb-70">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img src="../../assets/images/eyebrowprice.png" alt="Pricing">
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="pricing-content">
                    <div class="pricing-shape">
                        <img src="../../assets/images/pricing-shape1.png" alt="Shape">
                    </div>
                    <div class="top">
                        <h3>
                            <%=pageText.eyeBrowServices%>
                        </h3>
                    </div>
                    <div class="bottom">
                        <ul>
                            <% pageText.beautyServicesList1.forEach((service)=> { %>
                                <li>
                                    <%=service.name%>
                                        <span>
                                            <%=service.price%>
                                        </span>
                                </li>
                                <% }) %>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="pricing-content two">
                    <div class="pricing-shape">
                        <img src="../../assets/images/pricing-shape1.png" alt="Shape">
                    </div>
                    <div class="top">
                        <h3>
                            <%=pageText.eyeLashesServices%>
                        </h3>
                    </div>
                    <div class="bottom">
                        <ul>
                            <% pageText.beautyServicesList2.forEach((service)=> { %>
                                <li>
                                    <%=service.name%>
                                        <span>
                                            <%=service.price%>
                                        </span>
                                </li>
                                <% }) %>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="pricing-img two">
                    <img src="../../assets/images/eyelashesprice.png" alt="Pricing">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Pricing -->



<!-- Pricing -->
<div class="pricing-area two  pb-70">
    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-6 p-0">
                <div class="pricing-img">
                    <img src="../../assets/images/lipprice.png" alt="Pricing">
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="pricing-content">
                    <div class="pricing-shape">
                        <img src="../../assets/images/pricing-shape1.png" alt="Shape">
                    </div>
                    <div class="top">
                        <h3>
                            <%=pageText.lipServices%>
                        </h3>
                    </div>
                    <div class="bottom">
                        <ul>
                            <% pageText.beautyServicesList3.forEach((service)=> { %>
                                <li>
                                    <%=service.name%>
                                        <span>
                                            <%=service.price%>
                                        </span>
                                </li>
                                <% }) %>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="pricing-content two">
                    <div class="pricing-shape">
                        <img src="../../assets/images/pricing-shape1.png" alt="Shape">
                    </div>
                    <div class="top">
                        <h3>
                            <%=pageText.tuomaoServices%>
                        </h3>
                    </div>
                    <div class="bottom">
                        <ul>
                            <% pageText.beautyServicesList4.forEach((service)=> { %>
                                <li>
                                    <%=service.name%>
                                        <span>
                                            <%=service.price%>
                                        </span>
                                </li>
                                <% }) %>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="pricing-img two">
                    <img src="../../assets/images/tuomaoxilie.png" alt="Pricing">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Pricing -->

<!-- Get -->
<section class="get-area two mb-100">
    <div class="container">
        <div class="get-content">
            <div class="get-shape">
                <img src="../../assets/images/get-shape1.png" alt="Shape">
                <img src="../../assets/images/get-shape2.png" alt="Shape">
            </div>
            <div class="section-title">
                <h2>
                    <%=pageText.beautySlogan2%>
                </h2>
            </div>
            <a class="common-btn two"
                href="https://api.whatsapp.com/send?phone=85269965503&text=%E4%BD%A0%E5%A5%BD!%20%E6%88%91%E6%9C%89%E8%88%88%E8%B6%A3%E6%9F%A5%E8%A9%A2%E6%9C%8D%E5%8B%99%E3%80%82">
                <%=pageText.bookNow%>
            </a>
        </div>
    </div>
</section>
<!-- End Get -->